modules = ["python-3.12", "web", "nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "autoscale"
run = ["python", "app.py"]

[userenv]

[userenv.shared]
VGX_ENABLED = "true"
PMB_ENABLED = "true"
MTB_ENABLED = "true"
EMERGENCY_STOP = "false"
SCANNER_CHAT_ID = "476738400"
VGX_CHAT_ID = "476738400"
PMB_CHAT_ID = "476738400"
MTB_CHAT_ID = "476738400"
ALERT_CHAT_ID = "476738400"
TELEGRAM_ADMIN_IDS = "@rajkiran118"
TELEGRAM_ALLOWED_IDS = "@rajkiran118"
DASHBOARD_API_KEY = "9346343171"
SESSION_SECRET = "9346343171"
TRADING_ENABLED = "true"
